#fondo,
#izquierda
{
  height: 100vh;
}
#izquierda{
  overflow-y: scroll;
}
#principal
{
  height: 85vh;
}

#reproductor-2
{
  height: 16vh;
}

#contenido
{
  overflow-y: scroll;
}
body
{
  overflow-y: hidden;
  background-color: #000000;
}

.tema-blanco .tema
{
  background-color: antiquewhite !important;
}

.tema-oscuro .tema
{
  background-color: #0f0d0d !important;
}

.tema-amoled .tema
{
  background-color: #000000 !important;
}

#izquierda #reproductor
{
  height: 94%;
}
#contenido
{
  height: 94%;
}
.mitad
{
  width: 50%;
}

*::-webkit-scrollbar
{
  width: 10px;
  margin: 20px !important;
}

*::-webkit-scrollbar-track
{
  background-color: transparent;
}

*::-webkit-scrollbar-thumb
{
  background-color: #888;
  border-radius: 50px;
}

*::-webkit-scrollbar-thumb:hover
{
  background-color: #888;
}

.h-100
{
  height: 100% !important;
}

#selector-tema
{
  z-index: 1000;
  position: absolute;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.68);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(11.9px);
  -webkit-backdrop-filter: blur(11.9px);
  border: 1px solid rgba(255, 255, 255, 0.42);
  height: 100vh;
  width: 100%;
}
.vidrio{
  /* From https://css.glass */
background: rgba(255, 255, 255, 0.19) !important;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;
backdrop-filter: blur(5px) !important;
-webkit-backdrop-filter: blur(5px) !important;
border: 1px solid rgba(255, 255, 255, 0.3) !important;
}
.circulo{
  width: 40px;
  height: 40px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}
#menu{
  position: fixed;
  z-index: 99;
  top: 53px;
  right: 23px;
}
.negro{
  background-color: #000000;
}
.no-ver{
  display: none;
}

@media screen and (max-width: 768px)
{
  #fondo, #izquierda {
    height: 100%;
  }
  body
  {
    overflow-y: scroll;
  }
  .mitad
  {
    width: 90%;
  }

  #selector-temas
  {
    height: max-content !important;
  }
  #menu{
    top: 10px;
    right: 10px;
  }
  #selector-tema
{
  height: 100%;
  width: 100%;
}
#reproductor-2
{
  height: 30%;
}
#menu {
  top: 42%;
  right: 10px;
}
}